<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <a href="/entries"><h1>Simple Journal</h1></a>
    <div class="journal">
      <h2>
        <%= entry.title%>
      </h2>
      <h4>
        Author: <%= entry.author%>
      </h4>
      <p>
        <%= entry.body%>
      </p>
    </div>
    <a href="/entries/<%=entry._id %>/edit"><button class="button" id="edit">Edit</button></a>
    <form action="/entries/<%=entry._id %>?_method=DELETE" method="POST">
      <input type="submit" value="Delete" class="button" id="delete"/>
    </form>
    <a href="/entries"><button class="button" id="back">Back to Entries</button>
  </body>