<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

  <body>
    <main>
      <div>
        <article>
          <h2>
            <%= entry.title%>
          </h2>
          <h4>
            <%= entry.author%>
          </h4>
          <p>
            <%= entry.body%>
          </p>
          <form action="/entries/<%=entry._id %>?_method=DELETE" method="POST">
            <input type="submit" value="delete" />
          </form>
          <a href="/entries" <button>Back to Entries</button>
        </article>
      </div>
    </main>
  </body>